* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("water-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 60px auto;
}

.h1-container {
  background: linear-gradient(to top right, #ffffff, #5aaaff);
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 40px;
  text-align: center;
}

h1 {
  color: #333;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
  gap: 50px;
}

.card {
  background: linear-gradient(to top right, #ffffff, #8ac3ff);
  border: 2px solid white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 20px;
}

.card-content h2 {
  color: #2c3e50;
}

.card-content p {
  color: #232323;
  margin: 15px 0 20px;
}

.button-wrapper {
  text-align: center;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #278fd4;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0b7ac5;
}
