.card {
  width: 400px;
  margin: 100px auto;
  text-align: center;
  padding: 40px;
  background-color: #f4f4f4;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.card h1 {
  font-size: 32px;
  margin-bottom: 8px;
}

.card p {
  font-size: 19px;
}
